--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
google-cloud-bigquery
google-cloud-storage
sentence-transformers==2.7.0
transformers==4.41.0
torch==2.1.0+cpu
numpy<2
pandas
rank-bm25
python-dotenv
pyarrow
db-dtypes